#videoPart {
  height: 100vh;
}

.hms-ui-c-cRMLUG.hms-ui-c-cRMLUG-kDmFHT-transparentBg-true.hms-ui-c-cRMLUG-ibjjJAZ-css {
  button {
    display: none !important;
  }

  .hms-ui-c-PJLV.hms-ui-c-PJLV-ijbEteJ-css {
    display: none !important;
  }
}

// tiles at side when screen sharing
.hms-ui-c-PJLV.hms-ui-c-PJLV-ikdDuVq-css {
  display: none !important;
}

// notificatiob
.hms-ui-c-gypLyU.hms-ui-c-gypLyU-ilpqCFa-css {
  display: none !important;
}

// individual tile
.hms-ui-c-PJLV.hms-ui-c-PJLV-icPqqfj-css.react-draggable {
  display: none !important;
}

// hide emoji reactions send by others
.hms-ui-c-PJLV.hms-ui-c-PJLV-ihSvdNI-css {
  display: none !important;
}

#conferencing {
  padding: 0 !important;
}

.hms-ui-c-dhzjXW.hms-ui-c-dhzjXW-ejCoEP-direction-row.hms-ui-c-dhzjXW-igJJEWl-css {
  .hms-ui-c-PJLV.hms-ui-c-PJLV-iekfiqE-css {
    display: none !important;
  }
}

body {
  margin: 0 !important;
}

// right side space hide, while recording screen share
.hms-ui-c-dhzjXW-igJJEWl-css {
  gap: 0 !important;
}
