@use '../common/base/_mixins' as globalMix;
@use '../common/themes/_default' as globalTheme;
@use '../common/components/_navbar';
@use '../common/components/header-new';
@use '../common/themes/custom_theme';

@font-face {
  font-family: 'Wanted Sans';
  src:
    url('../../fonts/WantedSansVariable-BF65baf13a24667.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding-right: 0 !important;
  background-color: var(--primary-background-color);
}

header {
  background-color: var(--secondary-bg-color) !important;
}

#main {
  padding-bottom: 1px;
}

.nav-link {
  font-family: 'Wanted Sans', 'DM Sans', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link:not(.active) {
  color: var(--tab-color) !important;
  // color: rgba(112, 112, 112, 1) !important;
}

.nav-link:not(.active):hover {
  //background-color: #f6f7f8 !important;
  //border-radius: 8px !important;
  color: var(--tab-hover-color) !important;
}

#if-ended {
  background: url(../../images/class/ended.png) no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

  .copyLinkDiv {
    font-size: 0.86rem;
    position: absolute;
    right: 0;
    color: white;
    top: 9px;
    border: 1px solid white;
    border-radius: 6px;
    margin-right: 25px;
    height: 2rem;
    display: flex;
    gap: 5px;
    padding: 7px 8px;
    align-items: center;
    cursor: pointer;
  }
}

.nav-item {
  padding-left: 0.5rem;

  &:nth-of-type(1) {
    padding-left: 0;
  }
}

.nav .nav-link.active,
.nav .nav-item.show .nav-link {
  border-color: transparent;
  border-bottom: 3px solid var(--domain-borderColor);
  color: var(--domain-color);
  background-color: transparent;
  border-radius: 0;
}

.text-send {
  font-family: 'Wanted Sans', 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#chat1 .form-outline .form-control ~ .form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: 0.65rem 0 0 0.65rem;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 0.65rem 0.65rem 0;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-label {
  color: #39c0ed;
}

#chat1 .form-outline .form-control ~ .form-label {
  color: #bfbfbf;
}

.chat-body {
  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-sender {
  width: 95%;
  position: absolute;
  bottom: 0;
}

.chat-sender-body {
  padding: 0 !important;
}

.form-control {
  padding-left: 20px;
  padding-right: 20px;
}

#spinner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin {
  font-size: medium;
}

#cvideo_html5_api {
  width: 100% !important;
  height: 100% !important;
}

.endedText p {
  position: absolute;
  top: 5rem;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  left: 3rem;
  right: 2rem;

  span {
    color: #ff354d;
  }
}

.video-box {
  border-radius: 8px;
  width: 100% !important;
  height: 100% !important;
}

.uname {
  font-family: 'Wanted Sans', 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.sentmsg {
  background: #e6f7e9;
  border-radius: 4px;
  font-family: 'Wanted Sans', 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.receivedmsg {
  background: #f6f7f8;
  border-radius: 4px;
}

.msgtime {
  font-family: 'Wanted Sans', 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #aaa;
}

#nochat {
  display: flex;
  justify-content: center;
  width: 95%;
  background: #f6f7f8;
  border-radius: 4px;
  color: #aaa;
  border-style: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-card {
  background: var(--secondary-bg-color);
  border-radius: 8px;
  padding: 0.5rem 1.5rem 1rem;
  position: relative;
  height: 100%;

  ul {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-border-color);
  }

  .ql-editor {
    border: none !important;
    border-radius: 4px;

    p {
      font-family: 'Wanted Sans', 'DM Sans', sans-serif !important;
      font-size: 16px;
    }

    li {
      span {
        color: var(--tab-hover-color);
      }

      span:hover {
        color: var(--tab-color);
      }
    }
  }

  #editor2,
  #editor,
  .endedchat,
  .livechat {
    max-height: 75vh;
    min-height: 75vh;
  }

  #editor2,
  #editor {
    overflow-y: auto;
    color: var(--tab-hover-color);
    border-color: var(--border-color);
  }

  .ck-content {
    min-height: 67.5vh;
    max-height: 67.5vh;
  }

  #joinchat {
    position: absolute;
    bottom: 1rem;
    width: 94%;
    box-sizing: border-box;
    display: table;
    margin: auto;
    left: 0;
    right: 0;
  }

  .chat-mentor-imgs {
    text-align: center;
    padding-top: 3rem;
    display: table;
    margin: auto;

    img {
      display: block;
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  .custom-scrollbar {
    min-height: 59vh;
    max-height: 59vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  #videoPart {
    height: 330px;
    margin-bottom: 1.5rem;
  }

  #chatPart {
    margin-bottom: 1.5rem;
  }

  .chat-card #editor {
    max-height: 54vh !important;
    min-height: 54vh !important;
    overflow-y: auto;
  }

  .chat-card #editor2 {
    max-height: 46vh;
    min-height: 46vh;
    overflow-y: auto;
  }

  .img-fluid {
    max-width: 84% !important;
    height: auto;
  }

  .endedText p {
    font-size: 25px;
  }
}

@media (max-width: 961px) {
  #videoPart {
    max-width: 100% !important;
    flex: inherit;
    height: 350px;
    margin-bottom: 1.5rem;
  }

  .chat-card #editor,
  .livechat,
  .endedchat,
  #Recordings {
    max-height: 62vh !important;
    min-height: 62vh !important;
    overflow-y: auto;
  }

  .chat-card #editor {
    overflow-y: auto;
  }

  #Recordings .recordings-container {
    max-height: 51vh !important;
  }

  .ck-content {
    max-height: 58vh !important;
    min-height: 58vh !important;
    overflow-y: auto;
  }

  .chat-card #editor2 {
    max-height: 46vh;
    min-height: 46vh;
    overflow-y: auto;
  }

  .chat-card .custom-scrollbar {
    max-height: 47vh;
    min-height: 45vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  #chatPart {
    max-width: 100% !important;
    flex: inherit;
    margin-bottom: 1.5rem;
  }

  .livechat .chatfooter {
    bottom: -32px !important;
  }

  .picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the div takes full height of its parent */
  }
}

@media screen and (max-width: 1400px) {
  .chat-card {
    margin-left: 0;
  }
}

@media screen and (min-width: 1500px) {
  .chat-card {
    width: 100%;
  }

  .video-box-parent {
    width: 100%;
  }
}

// .hackerkid-btn {
//   color: #fe6a07;
//   border: 1px solid #ffbc04;
// }

// .btn.hackerkid:focus,
// .hackerkid .nav-link {
//   color: #fe6a07;
// }

// .hackerkid .nav-link.active,
// .hackerkid .nav-item.show .nav-link {
//   border-color: transparent;
//   border-bottom: 2px solid #ffbc04;
//   color: #fe6a07;
//   background-color: transparent;
//   border-radius: 0;
// }

// .hackerkid-chat,
// .hackerkid-chat:hover {
//   border: 2px solid #ffbc04;
//   background-color: #fe6a07;
// }

// .hackerkid-btn:hover {
//   color: white;
//   background-color: #fe6a07;
// }

// .hackerkid-admin,
// .hackerkid-admin:hover {
//   color: #fe6a07;
// }

// .btn:focus,
// .btn:active {
//   outline: none !important;
//   box-shadow: none;
// }

// .joinChat,
// .joinChat:hover {
//   background-color: #ffc626;
//   color: #505659;
//   border-radius: 4px;
// }

// .editor-container {
//   position: relative;
// }

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.joinChat,
.joinChat:hover {
  background-color: #ffc626;
  color: #505659;
  border-radius: 4px;
}

.editor-container {
  position: relative;
}

@media (max-width: 600px) {
  #logo {
    width: 120px !important;
  }

  .ck-content {
    max-height: 54vh !important;
    min-height: 54vh !important;
  }

  .chat-card .custom-scrollbar {
    max-height: 36vh;
    min-height: 36vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
}

#switchAlertModal {
  margin-top: 4rem;
}

.recording-div {
  height: 3%; /* 1cm converted to pixels */
  border-radius: 10px; /* Half of the height for rounded corners */
  background-color: #fff; /* Light gray background color */
  display: flex;
  align-items: center;
  padding: 14px; /* 0.5cm converted to pixels */
  margin-bottom: 28px; /* 1cm converted to pixels */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 98%;
  margin-top: 5px;
  margin-left: 5px;

  svg {
    stroke: white;

    path {
      fill: var(--domain-color);
    }
  }
}

.livechat {
  position: relative;

  .chatfooter {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.saveNotesDiv {
  margin: -12px 19px 3px 0;
  text-align: right;
  color: var(--domain-color);
  visibility: hidden;
}

#Recordings {
  max-height: 75vh;
  min-height: 75vh;
}

.recording-div span {
  flex-grow: 1;
  font-size: 15px;
  cursor: pointer;
}

.custom-icon {
  margin-right: 0.5rem;
  color: var(--domain-color);
  cursor: pointer;
}

.open-icon {
  // height: 18px;
  // width: 18px;
  margin-top: 0;
  cursor: pointer;
  color: var(--domain-borderColor);
}

.custom-icon:hover {
  filter: brightness(0.8);
}

.sendChat {
  background-color: var(--domain-borderColor) !important;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  color: var(--domain-joinColor) !important;
}

.chatInput:focus {
  border-color: var(--domain-borderColor) !important;
  box-shadow: none !important;
}

#loader-notes .nav-link {
  color: var(--domain-color) !important;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: var(--domain-borderColor) !important;
  color: white !important;
}

.uname span,
.user-chat span {
  color: #388af0;
}

@media (max-width: 450px) {
  .nav {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 95%;
  }

  .nav-item {
    flex: 0 0 auto;
    padding-left: 0 !important;
  }

  .nav .nav-link {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    margin-left: 0;
    border-color: transparent;
    border-bottom: none;
    white-space: nowrap; /* Ensure the links don't wrap */
  }

  .nav .nav-link.active,
  .nav .nav-item.show .nav-link {
    border-bottom: none;
  }

  .nav .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: transparent;
    transition:
      width 0.3s ease,
      background-color 0.3s ease;
  }

  .nav .nav-link.active:before,
  .nav .nav-item.show .nav-link:before {
    width: 100%;
    background-color: rgb(13, 186, 75);
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 4px;
  }

  .nav-item:first-child .nav-link {
    padding-left: 0.5rem !important;
  }

  #chat-nav::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 400px) {
  .picture {
    overflow: hidden;
  }

  .img-fluid {
    width: 70% !important;
  }
}

.chatUnavailable {
  display: flex;
  justify-content: center;
}

.chat-off {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 961px) and (max-width: 1166px) {
  .nav {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 98%;
  }

  .nav-item {
    flex: 0 0 auto;
    padding-left: 0 !important;
  }

  .nav .nav-link {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    margin-left: 0;
    border-color: transparent;
    border-bottom: none;
    white-space: nowrap; /* Ensure the links don't wrap */
  }

  .nav-link:not(:first-child) {
    padding-left: 1.5rem;
  }

  .nav .nav-link.active,
  .nav .nav-item.show .nav-link {
    border-bottom: none;
  }

  .nav .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: transparent;
    transition:
      width 0.3s ease,
      background-color 0.3s ease;
  }

  .nav .nav-link.active:before,
  .nav .nav-item.show .nav-link:before {
    width: 100%;
    background-color: rgb(13, 186, 75);
  }

  .nav-arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 10px;
    z-index: 1;
    position: absolute;
    top: 32px;
    transform: translateY(-50%);
    display: none !important;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .nav-item:first-child .nav-link {
    padding-left: 0.5rem !important;
  }

  #chat-nav::-webkit-scrollbar {
    display: none;
  }

  .nav-arrow-meet-ended {
    display: none !important;
  }

  .menu-sidebar-modal {
    display: none !important;
  }
}

@media (min-width: 962px) and (max-width: 1045px) {
  #chat-nav::-webkit-scrollbar {
    display: none;
  }
}

#ajaxFailureModal {
  z-index: 99999;

  .modal-body {
    p {
      display: flex;
    }
  }
}

@media screen and (max-width: 350px) {
  .img-fluid {
    width: 55% !important;
    margin-top: 0 !important;
  }

  .nav-link-not-live {
    font-size: 17px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
}

@media (max-width: 767px) {
  .headerNav {
    display: none !important;
  }
  // for hms prebuilt stlying
  .hms-ui-c-dhzjXW.hms-ui-c-ktPfYU.hms-ui-c-dhzjXW-ijhjEdb-css {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;

    .hms-ui-c-dhzjXW.hms-ui-c-ggQHRn.hms-ui-c-dhzjXW-iEmOhL-css {
      margin-left: 11%;
    }
  }
}

#chatloadAlert {
  margin-bottom: -4rem;
}

#chatAlert {
  position: absolute !important;
}

.toast {
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .toast-body {
    padding: 10px;
  }

  #toast-container {
    right: 3% !important;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.toast.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-out;
}

@media (min-height: 1020px) {
  .picture {
    padding-bottom: 6.5rem !important;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    display: none !important;
  }
}

#meetExtendModal {
  margin-top: 125px;

  #alertTitle {
    color: red;
  }

  .modal-content {
    background-color: var(--secondary-bg-color);
    color: var(--tab-color);
    border-color: var(--tab-color);

    .close {
      color: var(--tab-hover-color);
    }
  }
}

#alertIcon {
  width: 60px;
  float: inline-start;
}

.chatUnavailable .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatUnavailable .content img {
  max-height: 50%;
  width: auto;
  height: auto;
}

.chatUnavailable .btn {
  align-self: center;
  margin-bottom: 10px;
}

#toast-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 6.5rem;
  z-index: 99999;
  right: 1%;

  .toast {
    flex-basis: unset;
  }
}

.labelTitle {
  padding-left: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 15px;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding-right: 0.8rem;
  font-weight: 500;
  height: 3rem;
}

#videoPart {
  display: flex;
  flex-direction: column-reverse;
  color: var(--text-color);
  min-height: calc(100vh - 60px);
}

.labelDiv {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  padding: 0 0 4px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;

  .copyLinkDiv {
    height: 2rem;
    display: flex;
    gap: 5px;
    margin: 11px 24px 5px 5px;
    padding: 7px 8px;
    border-radius: 6px;
    align-items: center;
    border: 1px solid var(--domain-borderColor);
    color: var(--domain-borderColor);
    cursor: pointer;
  }
}

#navigateBtn {
  margin: 10px 0 0 2px;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  color: var(--tab-hover-color);

  i:before {
    font-weight: bold !important;
    margin-top: 5px;
  }
}

#select-recepient {
  max-width: 100%;
}

@media (min-width: 390px) and (max-width: 962px) {
  .nav-live {
    .nav-arrow {
      display: none !important;
    }
  }
}

@media (min-height: 840px) and (max-height: 1024px) {
  .chat-card .custom-scrollbar {
    max-height: 42vh;
    min-height: 40vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 320px) and (max-height: 500px) {
  .chat-card .custom-scrollbar {
    min-height: 27vh;
    max-height: 27vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
}

@media (min-height: 725px) and (max-height: 840px) and (max-width: 961px) {
  .chat-card .custom-scrollbar {
    max-height: 39vh;
    min-height: 39vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  .livechat .chatfooter {
    bottom: -26px !important;
  }
}

#endMeetBtn {
  background-color: #c74e5b;
  border: 1px solid #c74e5b;
  color: var(--tab-hover-color) !important;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

#endMeetBtn:hover {
  background-color: #40000d;
  border: 1px solid #40000d;
}

@media (max-width: 320px) {
  .nav-arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 10px;
    z-index: 1;
    position: absolute;
    top: 34px;
    transform: translateY(-50%);
    display: block !important;
  }

  .lableRightDiv {
    gap: 4px;
  }

  .copyLinkDiv {
    margin: 11px 9px 5px 5px;
  }
}

@media (max-width: 450px) {
  .nav-arrow.nav-arrow-meet-ended {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 10px;
    z-index: 1;
    position: absolute;
    top: 34px;
    transform: translateY(-50%);
    display: block !important;
  }
}

.lableRightDiv {
  display: flex;
  align-items: center;
  gap: 14px;
}

.themeToggleDiv {
  display: flex;
  gap: 7px;
  cursor: pointer;
  margin-top: 11px;

  i {
    cursor: pointer;
  }

  #darkMode {
    font-size: 20px;
  }

  #lightMode {
    font-size: 23px;
  }
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-editor__main > .ck-editor__editable,
.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  background-color: var(--secondary-bg-color) !important;
}

.ck.ck-editor__main > .ck-editor__editable {
  color: var(--tab-color);
}

.ck.ck-toolbar__items button,
.ck.ck-dropdown.ck-toolbar__grouped-dropdown.ck-toolbar-dropdown button {
  color: var(--tab-hover-color);
}

.ck.ck-toolbar__items button:hover,
.ck.ck-dropdown.ck-toolbar__grouped-dropdown.ck-toolbar-dropdown button:hover {
  color: var(--tab-hover-color);
  background-color: var(--secondary-bg-color) !important;
}

.ck.ck-reset.ck-list {
  background-color: var(--secondary-bg-color);
}

.ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_se {
  background-color: var(--primary-background-color);
}

.ck.ck-media-form.ck-responsive-form {
  background-color: var(--secondary-bg-color);
}

.ck.ck-toolbar.ck-toolbar_grouping,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  border-color: var(--border-color) !important;
}

.no-recordings {
  color: var(--tab-hover-color) !important;
}

.account-pop-content {
  background-color: var(--secondary-bg-color);
  color: var(--tab-color);
}

.ck-toolbar {
  background-color: var(--secondary-bg-color) !important;
}

#page header {
  li a,
  li .btn {
    color: var(--tab-color);
  }

  li a:hover,
  li .btn:hover {
    color: var(--tab-hover-color);
  }

  i {
    color: var(--tab-hover-color);
  }
}

.account-box:after,
.account-box:before {
  border-bottom-color: var(--secondary-bg-color);
}

#logout,
.email-wrap {
  color: var(--tab-color) !important;
}

.menu-sidebar-modal {
  .sub-menu-dropdown {
    background-color: var(--secondary-bg-color) !important;
  }

  a {
    background-color: var(--secondary-bg-color);
    color: var(--tab-color) !important;
  }

  #accordion .card {
    background-color: var(--secondary-bg-color);
  }

  a:hover {
    color: var(--tab-hover-color) !important;
  }
}

@media (max-height: 660px) {
  .hms-ui-c-PJLV-ichPiai-css {
    display: none;
  }
}

// #copyRecordingLinkButton {
//   font-size: 12px;
//   position: relative;
//   height: 2rem;
// }

.copy-link-container {
  float: right;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.075) !important;
  cursor: pointer;
}

.copy-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  cursor: pointer;
}

.copy-link.no-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  cursor: pointer;
}

.copy-link:focus,
.copy-link:active {
  outline: none;
  box-shadow: none;
}

.copy-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.link-icon {
  font-size: 18px;
  color: #8e9ab7;
  margin-right: 10px;
}

.copy-icon {
  color: var(--domain-color);
}

#copy-btn-rec {
  background-color: var(--domain-color);
  color: white;
}

#Recordings .container {
  margin-bottom: 1rem;
  padding-right: 5px !important;
  margin-right: 0 !important;
}

#Recordings .recordings-container {
  max-height: 64vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#Recordings .recording-div {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 13px;
  border-bottom: 1px solid #f0f0f0;
}

#Recordings .recordings-container::-webkit-scrollbar {
  width: 0;
}

#recorings-top-container {
  display: flex;
  flex-direction: column;
}

#Recordings::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1024px) {
  .bg-white.no-reload {
    z-index: 0;
  }
}

#logo {
  width: 180px !important;
}

.sessionInvalidText {
  position: relative;
  top: 0.8rem;
}
